<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EIS</title>
    <link rel="stylesheet" href="static/bootstrap/dist/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Newsreader:opsz,wght@6..72,600&display=swap" rel="stylesheet">
</head>
<body>
{% include 'eis/navbar.html' %}
<br>
<div class="container">
    {% block content %}{% endblock %}<br>
</div>
<footer class=" text-center text-white " style="background-color:#111;">
	<div class="container p-4" style="background-color:#111;">
	  <section class="mb-4">
		<p>
		  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
		  distinctio earum repellat quaerat voluptatibus placeat nam,
		  commodi optio pariatur est quia magnam eum harum corrupti dicta,
		  aliquam sequi voluptate quas.
		</p>
	  </section>
	</div>
	<div class="text-center p-3" style="background-color: #111">
	  <h6 class="text-muted">
            Powered by Insolitum team
            <a style="text-decoration: none; color: #6c756d;" href="https://t.me/KachestvennayKarta" class="footer-a">@ImmortalDante</a>
            & <a style="text-decoration: none; color: #6c756d;" href="https://t.me/esquiresword">@esquiresword</a>
            & <a style="text-decoration: none; color: #6c756d;" href="https://t.me/keepitsilet">@SidVerson</a>
        </h6>
	</div>
</footer>
<script src="static/css/font-awesome/css/main.js"></script>
<script src="static/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>