<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#111;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" href="{% url 'index' %}">EIS</a>
            <form class="d-flex" role="search" method="post" action="{% url 'search' %}">
                {% csrf_token %}
			  <input class="form-control me-2" name="search" type="search" placeholder="Поиск" aria-label="Поиск">
			  <button class="btn btn-outline-success btn-dark" type="submit" style="background-color:#fff; color:#000;">Поиск</button>
			</form>
        </div>
    </div>
</nav>